<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <!-- import 从同级目录查找文件 -->
	<import resource="daoContext.xml" />
	<import resource="sqlmapContext.xml" />
	<import resource="user-mybatis.xml" /> 
    
</beans>